<!-- views/edit.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>
  <form action="/edit/<%= user._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= user.name %>" required>
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= user.email %>" required>
    <label for="age">Age:</label>
    <input type="number" name="age" value="<%= user.age %>" required>
    <button type="submit">Update</button>
  </form>
</body>
</html>
